@import url(reset.css);

body {
  font-size: 11pt;
  font-family: Calibri, sans-serif;
}

@media screen {
  body {
    margin: 0 1em;
  }
}

@media print {
  article.ejercicio {
    page-break-inside: avoid;
  }
}

p {
  padding: 0.3em;
  text-align: justify;
}

/******** Encabezado Parcial **************/

h1,
h2,
h3 {
  text-align: right;
}

h1 {
  padding-top: 1rem;
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  font-style: italic;
}

h3 {
  border-top: 2px solid black;
  font-weight: bold;
  font-size: 1.1em;
}
header img {
  float: left;
  width: 7em;
  filter: drop-shadow(5px 5px 4px black);
}

.placeHolder {
  color: lightblue;
}

.fecha {
  font-weight: bold;
  color: darkblue;
}
section.datosAlumno {
  clear: both;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  border-bottom: 1px dashed black;
  padding: 0.5em 0;
}
section.condiciones {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 1em;
}

h4 {
  text-decoration: underline;
}

.desaprobado {
  color: darkred;
}
.regular {
  color: darkgoldenrod;
}
.aprobado {
  color: darkgreen;
}

/*********** Secciones ************/

.tituloSeccion {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: right;
  padding: 0.3em 2em;
  text-transform: uppercase;
}

/*********** Ejercicios ************/

section article {
  display: list-item;
  list-style-type: decimal;
  margin-left: 2em;
  padding: 1em 0;
}
.puntaje {
  background-color: darkblue;
  color: white;
  padding: 0.3em 1em;
  text-align: center;
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
  font-size: 0.8rem;
  font-weight: bold;
  outline: 1px solid black;
  border: 1px solid white;
  box-shadow: 2px 2px 5px black;
}
p.enunciado {
  font-weight: bold;
  margin: 0.5em 0 0 0;
}

p.formula {
  text-align: center;
}

p.hecho {
  margin-left: 3em;
}

p.ejemplo {
  color: grey;
  font-weight: bold;
  margin-left: 2em;
}

p.ejemploCodigo {
  color: darkblue;
  font-weight: bold;
  margin-left: 3.5em;
}

p.ejemploResultado {
  margin-left: 5em;
}

p.premisa {
  padding-left: 1em;
}

p.conclusion {
  border-top: 2px solid black;
  width: 15em;
  margin-left: -1em;
  padding-left: 2em;
}

p.conclusion::first-letter {
  padding-right: 2em;
}

p.aclaracion {
  font-size: 0.9em;
  margin: 0 0 0 3em;
  font-weight: bold;
  color: darkgrey;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  font-weight: bold;
  margin: 0 3em;
}

ol li {
  margin-left: 1em;
}

ol li p {
  font-weight: normal;
}

ol > li > p.hecho {
  margin-left: 0;
}

ol:not(.seccion) {
  color: darkblue;
}

ol:not(.seccion) li p {
  color: black;
}
ol:not(.seccion) li:last-of-type {
  list-style: none;
}

ol[type="i"] {
  list-style-type: upper-roman;
}

ol[type="i"] li:last-of-type {
  list-style: inherit;
}

li.ejercicio {
  margin-top: 1em;
}
